<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }}</title>
    
    <style>
        body { font-family: sans-serif; line-height: 1.6; max-width: 800px; margin: 20px auto; padding: 0 15px; }
        img { max-width: 100%; height: auto; border-radius: 8px; }
        h1, h2 { color: #333; }
    </style>
</head>
<body>

    <article>
        {{ content }}
    </article>

    </body>
</html>